.App {
  text-align: center;
}

.App-logo {
  height: 20vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 100s linear;
  }
}
/* @media (prefers-reduced-motion: no-preference) {
  button {
    animation: App-logo-spin infinite 10s linear;
  }
} */
.App-header {
  background-color: #282c34ed;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
button {
  min-width: 150px;
  min-height: 40px;
  border-radius: 8px;
  font-size: 22px;
  background: aquamarine;
  outline: transparent;
  border: 1px solid transparent;
  color: #2f00ff;
  cursor: pointer;
  user-select: none;
  text-align: center;
}
button:hover {
  transform: scaleX(1.1) scaleY(1.2);
  border: 1px solid transparent;
  outline: transparent;
  opacity: 0.9;
}
.colorRed {
  color: red;
  background-color: #61dafb;
}
input {
  width: 300px;
  height: 46px;
  border-radius: 8px;
  font-size: 20px;
  margin: 24px;
}
* {
  margin: 0;
  padding: 0;
  text-align: left;
}
li {
  padding: 4px;
  list-style: decimal-leading-zero;
}
.walk1 {
  width: 150px;
  height: 250px;
  background-image: url(./EmLaPhao-min.png);
  /* , url(./duongDua.png) */
  background-repeat: no-repeat;
  background-size: 2600px;
  animation: w1Effect 3s steps(12) infinite;
}
@keyframes w1Effect {
  from {
    background-position: 0px;
  }
  to {
    background-position: -2400px;
  }
}
